.side-nav li.active, .side-nav li.hover {
	background-color: #42a5f5;
}
.center {
	margin : 0 auto;
}
p {
	font-size:14px;
	color:#757575;
}

h4, h3 {
	color:#212121;
}

h2 {
	color:#42a5f5;
}
.slider .indicators .indicator-item.active {
	background-color: #42a5f5;
}
blockquote {
	border-left: 6px solid #ffca28;
}
