.side-nav li.active, .side-nav li.hover {
	background-color: #42a5f5;
}
table {
	width: initial;
	margin: 0 auto;
}
table, tr, td {
	text-align: center;
	border:1.5px solid black;
}

td {
	width: 60px;
	height: 60px;
}

.table-of-contents a.active {
	border-left: 4px solid #42a5f5;
}

.table-of-contents a:hover {
	border-left: 2px solid #bdbdbd;
}

.table-of-contents a.theme.active {
	border-left: 4px solid #ffca28;
}

.table-of-contents a.theme:hover {
	border-left: 2px solid #ffca28;
}

.table-of-contents {
	position: fixed;
	top: 450px;
}

img {
	width : 400px;
}
.center {
	margin : 0 auto;
}
p {
	font-size:14px;
	color:#757575;
}

h4, h3 {
	color:#212121;
}

h2 {
	color:#42a5f5;
}

blockquote {
	border-left: 6px solid #ffca28;
}
