<% include ../partials/header %>		
<div class="divider" style="background-color:white;height:100px;"></div>
		<div id="introduction" class="scrollspy">
			<h2 class="blue-text text-lighten-1"><blockquote>Introduction</blockquote></h2>
			<p><blockquote style="border-left:6px solid #00bcd4;">Welcome to the <b>FOBISIA Environmental Conference 2016!</b> We are delighted to host this conference at NLCS Jeju on our unique island and enable you to experience first hand its unique marine ecology. We live in an industrial age where the threats to our marine ecosystems are many and varied. From global warming to mangrove destruction, plastic pollution to overfishing, our ocean environments are suffering from the effects of the actions of humankind. It is our intention, over the three days of this conference, to enable you to immerse yourselves in some of these problems. Some of you will hopefully be the global decision makers of the future and we hope to ignite and nurture a spark of environmental awareness that will enable you to make the right decisions and help safeguard the future of our seas. </br></br>
<b>John Witton BSc MRSB</b></br>
<b>Director of Co-curricular Activities and Biology Teacher</b></br>
<b>NLCS Jeju</b>
			</blockquote></p>
		</div>
		<div class="divider"></div>
		<div id="intschedule" class="scrollspy">
			<h2 class="blue-text text-lighten-1"><blockquote>Schedule</blockquote></h2>
			<ul class="collapsible popout z-depth-5" data-collapsible="accordion">
			<li>
				<div class="collapsible-header"><i class="material-icons">info_outline</i>Wednesday (18/05/16) - Introductions</div>
			<div class="collapsible-body">
			<table class="striped centered">
				<thead>
					<tr>
						<th data-field="id">Time</th>
						<th data-field="event">Event</th>
						<th data-field="venue">Venue</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Early Arrivals</td>
						<td>Optional walk through the Gotjawal Forest</td>
						<td>Forest</td>
					</tr>
					<tr>
						<td>6:00pm</td>
						<td>Dinner</td>
						<td>Canteen</td>
					</tr>
					<tr>
						<td>7:00pm</td>
						<td>Overview of the Program for the week + Overview of the key areas</td>
						<td>PAC</td>
					</tr>
					<tr>
						<td>9:15pm</td>
						<td>Return to Boarding House</td>
						<td></td>
					</tr>
				</tbody>
			</table></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">info_outline</i>Thursday (19/05/16) - MahomaIsland</div>
			<div class="collapsible-body">
			<table class="striped centered">
				<thead>
					<tr>
						<th data-field="id">Time</th>
						<th data-field="event">Event</th>
						<th data-field="venue">Venue</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>7:50am</td>
						<td>Breakfast</td>
						<td>Canteen</td>
					</tr>
					<tr>
						<td>8:30am</td>
						<td>Video and introduction to Mahoma Island</td>
						<td>PAC</td>
					</tr>
					<tr>
						<td>8:45am</td>
						<td>Explanation of the Mahoma Island task</td>
						<td>PAC</td>
					</tr>
					<tr>
						<td>9:00am</td>
						<td>Group task - understanding the environmental issues plaguing Mahoma Island</td>
						<td>PAC</td>
					</tr>
					<tr>
						<td>10:00am</td>
						<td>Break - drinks and snacks</td>
						<td></td>
					</tr>
					<tr>
						<td>10:20am</td>
						<td>Group task - understanding the environmental issues plaguing Mahoma Island</td>
						<td>PAC</td>
					</tr>
					<tr>
						<td>11:30am</td>
						<td>Group solution brainstroming Exercise</td>
						<td>PAC</td>
					</tr>
					<tr>
						<td>12:30pm</td>
						<td>Lunch</td>
						<td>Canteen</td>
					</tr>
					<tr>
						<td>1:30pm</td>
						<td>Final Solution Exercise - Diagram and Written Report</td>
						<td>PAC</td>
					</tr>
					<tr>
						<td>3:00pm</td>
						<td>Break</td>
						<td></td>
					</tr>
					<tr>
						<td>3:45pm</td>
						<td>Construct Presentations</td>
						<td>PAC</td>
					</tr>
					<tr>
						<td>5:45pm</td>
						<td>Freshen up for Dinner</td>
						<td></td>
					</tr>
					<tr>
						<td>6:00pm</td>
						<td>Dinner</td>
						<td>Canteen</td>
					</tr>
					<tr>
						<td>7:00pm</td>
						<td>Talk - The importance of biodiversity and the sixth extinction</td>
						<td>PAC</td>
					</tr>
					<tr>
						<td>8:00pm</td>
						<td>Talk - Coral gardening Talk</td>
						<td>PAC</td>
					</tr>
				</tbody>
			</table></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">info_outline</i>Friday (20/05/16) - Aquarium</div>
      	
			<div class="collapsible-body">
			<table class="striped centered">
				<thead>
					<tr>
						<th data-field="id">Time</th>
						<th data-field="event">Event</th>
						<th data-field="venue">Venue</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>7:50am</td>
						<td>Breakfast</td>
						<td>Canteen</td>
					</tr>
					<tr>
						<td>8:30am</td>
						<td>Leave for Aquarium</td>
						<td>Bus</td>
					</tr>
					<tr>
						<td>10:00am</td>
						<td>Activities in Aquarium - Further Details : please check section "Field Trip" and "Aquarium"</td>
						<td>Aquarium</td>
					</tr>
					<tr>
						<td>4:15pm</td>
						<td>Return to NLCS jeju</td>
						<td>Bus/NLCSjeju</td>
					</tr>
					<tr>
						<td>6:00pm</td>
						<td>Dinner</td>
						<td></td>
					</tr>
					<tr>
						<td>7:00pm</td>
						<td>Mahoma Island - Final prep session before presentations</td>
						<td>Sixth Form Block Atrium</td>
					</tr>
					<tr>
						<td>7:40pm</td>
						<td>Mahoma Island presentations to conservation society + guest teachers to select finalists</td>
						<td>Sixth Form Block Classrooms</td>
					</tr>
				</tbody>
			</table></div>
			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">info_outline</i>Saturday (21/05/16) - Marine Environment</div>
      	
			<div class="collapsible-body">
			<table class="striped centered">
				<thead>
					<tr>
						<th data-field="id">Time</th>
						<th data-field="event">Event</th>
						<th data-field="venue">Venue</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>9:00am</td>
						<td>Presentation on Jeju's marine envrironment</td>
						<td>PAC</td>
					</tr>
					<tr>
						<td>10:00am</td>
						<td>Field Trip to local coastal areas</td>
						<td></td>
					</tr>
					<tr>
						<td>5:00pm</td>
						<td>Mahoma Island final 4 presentations</td>
						<td>PAC</td>
					</tr>
					<tr>
						<td>5:00pm</td>
						<td>Closing Remarks</td>
						<td>PAC</td>
					</tr>
					<tr>
						<td>7:00pm</td>
						<td>Final Farewell Dinner</td>
						<td>Local Korean Restaurant</td>
					</tr>
				</tbody>
			</table></div>
			</li>
		</ul>
		</div>
		<div>
			<h2 class="green-text text-lighten-1"><blockquote style="left-border:6px solid #66bb6a;">Mahoma Island</blockquote></h2>
			<div id="corals" class="scrollspy">
				<h3 style="color:black;"><blockquote style="left-border:4px solid black;">Corals</blockquote></h3>
				<object data="coralsummary.pdf" style="width:100%;height:700px;"></object>
			</div>
			<div id="mangroves" class="scrollspy">
				
				<h3 style="color:black;"><blockquote style="left-border:4px solid black;">Mangroves</blockquote></h3>
				<object data="mangsummary.pdf" style="width:100%;height:700px;"></object>
			</div>
			<div id="overfishing" class="scrollspy">
				<h3 style="color:black;"><blockquote style="left-border:4px solid black;">Overfishing</blockquote></h3>
				<object data="overfishingsummary.pdf" style="width:100%;height:700px;"></object>
			</div>
			<div id="plasticpollution" class="scrollspy">
				<h3 style="color:black;"><blockquote style="left-border:4px solid black;">Plastic Pollution</blockquote></h3>
				<object data="plasticsummary.pdf" style="width:100%;height:700px;"></object>
			</div>
			<div id="video" class="scrollspy">
			<div style="height:100px;"></div>
				<h3 style="color:black;"><blockquote style="left-border:4px solid black;">Video</blockquote></h3>
			<center>
			<iframe width="90%" height="500" src="https://www.youtube.com/embed/QRWHZP_lIKM" frameborder="0" allowfullscreen></iframe>
			</center>
			</div>
		</div>
	</div>
<% include ../partials/footer %>
